<div>
    <div class="function-plot"></div>
    <div class="btn-group col-sm-12 text-center">
        <button type="button" class="btn btn-default" ng-click="reset()">
            <span class="glyphicon glyphicon-step-backward" ></span>
        </button>
        <button type="button" class="btn btn-default" ng-click="stop()">
            <span class="glyphicon glyphicon-stop" ></span>
        </button>
        <button type="button" class="btn btn-default" ng-click="play()">
            <span class="glyphicon glyphicon-play"></span>
        </button>
        <button type="button" class="btn btn-default" ng-click="pause()">
            <span class="glyphicon glyphicon-pause"></span>
        </button>
        <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-step-forward"></span>
        </button>
    </div>
</div>